<form #f="ngForm" method="post" ngNativeValidate>
  <div class="container" id="container">
      <form action="#">
        <h1>Sign Up</h1>
        <span>Register your account</span>
        <input type="text" placeholder="Username" id="nameText" required />
        <input type="password"  placeholder="Password" id="passText" required/>
        <input type="password" placeholder="Confirm Password" id="confirmPassText" required>
        <input type="text" placeholder="Serial ID" id="serialIdText" required>
        <button class="btn btn-primary" (click)='registerUser()'>Register</button>
        <button class="btn btn-primary" (click)='redirectLogin()'>Login</button>
      </form>
  </div>
  </form>
