<!-- <style>
.central {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
}

input {
  margin: 2.5%;
}

button {
  left: 50%;
}
</style> -->


<!-- <html>
  <link rel="login.component" href="login.component.css">
  <div class="page">
    <div class = "central">
        <div class="row d-flex justify-content-center align-items-center">
              <div class="form-group">
                <label for="uname"><b>Username </b></label>
                <br>
                <input type="text" placeholder="Enter Username" id="nameText" required>
                <br>
                <label for="psw"><b>Password </b></label>
                <br>
                <input type="password" placeholder="Enter Password" id="passText" required>
                <br>
                <br>
                <button type="submit" class="btn btn-primary" id="login_btn"
                #loginBtn
                (click)='loginUser()'>Login</button>
                <button type="submit" class="btn btn-primary" id="register_btn" style="margin-left: 30%;"
                #registerBtn
                (click)='redirectRegister()'>Register</button>
                <br>
              </div>
        </div>
      </form>
    </div>
  </div>
</html>  -->


<form #f="ngForm" method="post" ngNativeValidate>

<!-- <button type="submit" class="btn btn-primary" id="login_btn"
#loginBtn
(click)='loginUser()'>Login</button> -->

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			<span>Use your account</span>
			<input type="text" placeholder="Email" id="nameText" required />
			<input type="password"  placeholder="Password" id="passText" required/>
			<button (click)='loginUser()'>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>New here? Join us!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button (click)='redirectRegister()' class="ghost" id="signUp">Sign Up!!</button>
			</div>
		</div>
	</div>
</div>

</form>
